@charset "utf-8";
/* CSS Document */
#card
{
	position: absolute;
	top: 500px;
}
#backCard
{
	position: absolute;
	top: 100px;
	left: 100px;
		
}
#secondsRemaining
{
	position: absolute;
	color: white;
	z-index: 4;
	top: 30px;
	left: 220px;
	
}
